body{
    background-color: rgb(205, 243, 241);
    background-image: radial-gradient(rgb(229, 229, 243),rgb(156, 203, 241));
}
.nav{
    background-color:rgb(120, 185, 247);
    background-image: linear-gradient(to top left,rgb(238, 238, 245),rgb(55, 95, 128));
    z-index: 9;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 10px 95px 0px rgba(229, 255, 0, 0.95);
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

}
.logo{
    float: left;
    width: 60%;
}
.logo img{
    padding: 2px;

}
.nav_side{
    float:right ;
    width: 60%;
    margin-top: 60px;
    font-size: 18px;

}

.nav_side a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
    color: #060242;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;


}
.nav_side a:hover
{
    color: orange;
    transition: all 1s ease;

}

/*main content css part*/

.main{
    background-image: url("bg_img.jpg");
    background-position: center;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}
.main .main_content{
    padding-top: 19%;
    margin-left: 10%;
    margin-right: 10%;

}
.main .main_content h2{
    color: #fefeff;
    font-size: 50px;
    font-family: cosmic,sans-serif;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 5px 10px rgb(88, 99, 243) ;
}
.main .main_content span h3{
    font-size:18px;
    opacity: 0.9;
    font-weight: bold;
    line-height: 20px;
    font-family: cosmic,sans-serif;
    color: #E0F7FA;
    text-align: center;
}
.main .main_content .btn{
   margin-top:40px;
    

}

.main .main_content .btn a
{
    text-decoration: none;
    margin: 540px;
    padding: 10px 20px;
    background-color: #1A237E;
    color: white;
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}
.main .main_content .btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

/*main part ends*/

/*product container starts*/

.product{
    padding-bottom: 70px;

}
.product h2{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 25px;
    font-family: cosmic,sans-serif;
    text-align: center;
    padding:20px;

}
.product .product_container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    font-family: cosmic,sans-serif;


}
/*item image css */

.product .product_container .item {
    width: 33.33%;
    margin: 10px;
    height: auto;

}
.product .product_container .item .item_img {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.product .product_container .item .item_img img {
    width: 100%;
    height: 400px;

}

.product .product_container .item .item_content {
    text-align: center;
    margin-top:auto;
    

}
.product .product_container .item .item_content h3{
    padding: 10px;
    margin-bottom: auto;
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
.product .product_container .item .item_content p{
    padding: 5px;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}

.product .product_container .item .item_content a
{
    text-decoration: none;

    padding: 10px 20px;
    background-color: #1A237E;
    color: white;
    font-family: cosmic,sans-serif;
    font-size: 15px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.product .product_container .item .item_content a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

.product .product_container .item:hover{
    box-shadow: 0px 6px 70px 0px rgba(0,0,0,.15);
}

 /*product explore btn starts*/

.product .product_btn{
    text-align: center;
    margin-top: 70px;

}

.product .product_btn a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #1A237E;
    color: rgb(239, 243, 9);
    font-family: cosmic,sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;

}

.product .product_btn a:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

.keypoint{
    padding: 50px;

}

.keypoint h2{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 25px;
    font-family: cosmic,sans-serif;
    text-align: center;
    padding:10px;
}

.keypoint .key_container{
    display: flex;
}

.keypoint .key_container .key_content{
    width: 40%;
    padding: 20px;
    float: left;
}

.keypoint .key_container .key_content li{
    list-style: none;
    margin: 10px;
    padding: 15px;
    font-weight: bold;
    border-left: 2px solid orange;
    color: black;
    text-align: left;
    font-size: 15px;
    font-family: cosmic,sans-serif;
    box-shadow: 0px 3px 65px 0px rgba(51, 128, 243, 0.65);
}

.keypoint .key_container .key_img{
    width: 40%;
    float: right;

}

.keypoint .key_container .key_img img{
    width: 100%;
    margin-left: 30%;

}

/*carasoul css*/

.testi{
    padding: 60px;

}

.testi h2{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.testi .testi_container{
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}



.testi .testi_container .carousel-inner{
    background-color: white;
    box-shadow: none;
}

.testi .testi_container .item{
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: none;
}

.testi .testi_container .item .item_img{
    width: 100%;
    height: 100px;
    text-align: center;
    overflow: hidden;

}

.testi .testi_container .item .item_img img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}

/* testimonial content css*/

.testi h2{
    color: black;
    font-size: 25px;
    font-family: cosmic,sans-serif;
    text-align: center;
    padding:10px;
}



.testi .testi_container  .item .item_content{
    text-align: center;
    margin-top:auto;
}

.testi .testi_container  .item .item_content h3{
    padding: 10px;
    margin-bottom: auto;
    font-size: 25px;
    font-family: cosmic,sans-serif;
}
.testi .testi_container .item .item_content p{
    padding: 5px;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}

/*our team*/
.team {
    padding: 50px;
}
.team h2{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    text-align: center;
    padding:10px;

}

.team .team_container{
    display:flex;
}

.team .team_container .team_video{
    width: 50%;
    padding: 20px;
    border: #060242;
}

.team .team_container .team_video iframe{
    width: 100%;
    border:10px solid rgb(85, 146, 236);
}

.team .team_container .team_content{
    width: 40%;
    padding: 20px;
    margin-left: 50px;
    font-size: 18px;
}


/*feed css*/
.feed{
    padding: 50px;
    background-image: url(feedback.jpg);
    background-size: cover;
    
}

.feed h2{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    text-align: center;
    padding:100px;
    text-transform: uppercase;
}

.feed .feed_form{
    text-align: center;
    
}

.feed .feed_form form{
    padding: 20px;
}

.feed .feed_form form input{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}

.feed .feed_form form textarea{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
}

.feed .feed_form form button{
    width: 30%;
    margin: 10px;
    padding: 8px;
    outline: none;
    border: none;
    background-color: #060242;
    color: white;
    border-radius: 5px;

}

.feed .feed_form form button:hover{
    background-color: black;
    color: orange;
    border: none;
    border-bottom: 4px solid orange;
    transition: 0.5s;
}

/*about us.html css*/
.about_us{
    padding: 100px;

}

.about_us h2{
    color: rgb(3, 4, 51);
    font-size: 35px;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

}

.about_us p{
    padding: 10px;
    font-size: 15px;
    font-family: cosmic,sans-serif;
    text-align: center;
    line-height: 25px;
}

.contact_container{
    padding: 100px;
}

.contact_container h2{
    color: rgb(3, 4, 51);
    margin-top: 80px;
    font-size: 35px;
    font-weight: bolder;
    font-family: cosmic,sans-serif;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;

}

.contact_container .g_map{
    border: 5px solid cyan;
}

.contact_container .contact_content{
    padding:20px ;
}

.contact_container .contact_content p{
    padding: 10px;
    font-size: 15px;
    color: rgb(3, 4, 51);
    font-family: cosmic,sans-serif;
    line-height: 25px;

}
/*footer css*/

footer{
    background-color: #78909C;
    background-image: linear-gradient(to top left,rgb(156, 156, 240),rgb(18, 140, 240));
    padding:20px;

}
footer .pages{
    text-align: center;

}

footer .pages h3{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}

footer .pages a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}

footer .pages a:hover{
    color: white;
}

/*doc css*/

footer .doc{
    text-align: center;

}

footer .doc h3{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}

footer .doc a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 15px;
    font-family: cosmic,sans-serif;
}

footer .doc a:hover{
    color: white;
}

footer .social{
    text-align: center;

}

footer .social h3{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}

footer .social a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 20px;
    font-family: cosmic,sans-serif;
}

footer .social a:hover{
    color: white;
}

footer .contact{
    text-align: center;

}

footer .contact h3{
    color: rgb(3, 4, 51);
    font-weight: bolder;
    font-size: 20px;
    font-family: cosmic,sans-serif;
    padding: 5px;
}

footer .contact a{
    text-decoration: none;
    margin: 10px;
    color: orange;
    font-size: 20px;
    font-family: cosmic,sans-serif;
}

footer .contact a:hover{
    color: white;
}



